


<div class ="dropdowns">
 <!-- <div class ="dropdown" > -->
   <div calss ="heading">RETAIER</div>
  <select class ="select-box">
    <option value="volvo">BERGDORF</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>

  <select class ="select-box">
    
    <option value="volvo">FRAGNANCE</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
  <select class ="select-box">
    <option value="volvo">TOTAL WOME</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
  <select class ="select-box">
    <option value="volvo">ALLURE SEN </option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
  <select class ="select-box">
    <option value="volvo">ALL</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
  <select class ="select-box">
    <option value="volvo">ALL</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
  <select class ="select-box">
    <option value="volvo">ALL</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
 
<!-- </div> -->


</div>




<router-outlet></router-outlet>